/* small screens - no bigger than 699.98px */
@media(max-width: 43.74875em) {

    .hero{
        background-image: url('/assets/img/bg-pattern-intro-mobile.svg'), linear-gradient(130deg, #FF8F71 0%, #FF3E55 100%);
        background-size: 1400px 1400px;
        background-repeat: no-repeat, no-repeat;
        background-position: -370px -270px;
        padding-top: 3.5em;
        padding-bottom: 9.75em; //156px
        margin-bottom: 6.25em; //100px
            &__heading {
            font-size: 2.25rem; //36px
            line-height: 3.4375rem; //55px
            color: var(--white-txt);
        }

        &__content {
            font-size: 1.125em;
            color: var(--white-txt);
            margin-bottom: 3em;
        }
    }
    nav.hero__nav--desktop {
        display: none;
    }

    .section {
        &__subheading,
        &__content {
            text-align: center;
        }

        &__illustration {
            width: 325px;
            height: 325px;
            background: url('/assets/img/illustration-editor-mobile.svg') no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }
    .section.section-top {
        background: url('');
            .section__heading{
                grid-column: 1/-1;
                font-size: 1.75rem;
                text-align: center;
                margin-bottom: 5.8125em;
            }
    }
    .section.section-dark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    background-size: 582px 584px;
    background-position: top -290px right -110px;

        .section__image-overlap {
            grid-column: 1/-1;
            margin-top: -10.2em;
        }
        .section__wrapper{
            grid-column: 1/-1;
            padding-bottom: 6.8125em;
        }
        .section__heading {
            grid-column: 1/-1;
            font-size: 2.5rem;
            line-height: 3.8125rem;
            font-weight: var(--fw-600);
            letter-spacing: -1.2px;
        }
        .section__content{
            grid-column: 1/-1;
        }
    }

    .section.section-bottom {
        background: url('/assets/img/illustration-laptop-mobile.svg') no-repeat top center;

        .section__wrapper {
            padding-top: 26em;
            margin-bottom: 7.25em;
        }
    }
}

footer.footer {
    .footer__logo {
    margin: 0 auto 4.5em auto;
    }
}

/* larger screens - no smaller than 700px */
@media( min-width: 43.75em ) {

    .hero{
        background-image: url('/assets/img/bg-pattern-intro-desktop.svg'), linear-gradient(360deg, #FF8F71 0%, #FF3E55 100%);
        background-size: 934px 937px;
        background-repeat: no-repeat, no-repeat;
        background-position: -330px -1300px;;
        background-size: 3175px 3174px;
        padding-top: 3.9375em;
        padding-bottom: 9.6875em;
        margin-bottom: 4.375em;
            &__heading{
            font-size: 4rem; //64px
            font-weight: var(--fw-600);
            line-height: 6.125rem; //98px
            color: var(--white-txt);
        }

        .hero__cta--container {
            padding-top: .5em;
        }

        &__content {
            font-size: 1.125em;
            color: var(--white-txt);
            margin-bottom: 3em;
        }
    }
    .hero__mobileicons--container {
        display: none; // hide mobile menu icons
    }
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* switch image to right side */
        &__wrapper:nth-of-type(1){
            order: 2;
        }

        &__wrapper:nth-of-type(2){
            padding-left: 10.3125em;
        }

        &__subheading{
            font-size: 1.75rem;
            text-align: left;
            margin-bottom: 1em;
        }

        &__content {
            font-size: 1rem;
            line-height: 1.75rem;
            text-align: left;
            margin-bottom: 2.25em;
        }

        &__content.section__content--overlapped{
            margin-bottom: 18.25em;
        }

    }
    .section.section-top {
        background: url('/assets/img/illustration-editor-desktop.svg') no-repeat;
        background-position: 800px 0;

            .section__heading{
                grid-column: 1/-1;
                font-size: 2.5rem; //40px
                line-height: 3.8125;//61px
                text-align: center;
                margin-bottom: 1.3em;
                padding-top: .5em;
            }
    }

    .section.section-dark {
        margin-top: 0.7625em;
        padding-bottom: 0;
        padding-inline: 7.3125em;
        background-position: -13.7em -32em;
        img.section__image-overlap {
            margin-top: -4em;
            margin-bottom: -7em;
        }
        .section__wrapper {
            padding-bottom: 0;
            padding-top: 6.9375em;

            h2.section__heading {
                text-align: left;
                font-size: 2.5rem;
                line-height: 3.83rem;
                font-weight: var(--fw-600);
                padding: 0;
            }
        }
    }

    .section.section-bottom {
        background: url('/assets/img/illustration-laptop-desktop.svg') no-repeat;
        background-position: -17.5em 2.2em;
        padding-top: 16.375em;
        padding-bottom: 11em;
        margin-top: 0;
        margin-bottom: 5.25em;

        .section__wrapper {
            grid-column: 2/3;
            padding-right: 7.3125em;
                .section__subheading {
                    line-height: 1.75rem;
                }
                .sectin__content{
                    margin-bottom: 4em;
                }
        }
    }

    footer.footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-inline: 7.3125em;

        .footer__logo {
            margin: 0;
        }

        ul.footer__menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: start;
            text-align: left;
        }

        .attribution {
            grid-column: 1/-1;
            padding-top: 4.375em;
        }
    }
}

/* screens larger than 1440px */
@media(min-width: 90.0625em) {
    .section__wrapper:nth-of-type(2) {
        width: 730px;
    }
}