/* footer section */
footer.footer{
    background-color: var(--footer-bkg);
    color: var(--white-txt);
    text-align: center;
    padding-top: 4.6875rem;

    &__nav{
        &__menu {
            &__item{
                font-size: 1rem;
                border: 1px solid red;
            }
        }
    }

    .footer__nav .menu__item .footer__submenu {
        background-color: var(--footer-bkg);
        padding-top: 1.3125em;
        .submenu__item a{
            font-family: var(--ff-menus);
            font-weight: var(--fw-400);
            font-size: 1.125rem;
            line-height: 2.0625rem;
        }
    }

    .footer__logo {
    margin: 0 auto 4.5em auto;
    }
}


.attribution {
  font-size: 11px;
  text-align: center;
    a {
        color: #dcdfea;
    }
}

