/* small screens - no bigger than 699.98px */
@media(max-width: 43.74875em) {

    .hero{
        background-image: url('/assets/img/bg-pattern-intro-mobile.svg'), linear-gradient(130deg, #FF8F71 0%, #FF3E55 100%);
        background-size: 1400px 1400px;
        background-repeat: no-repeat, no-repeat;
        background-position: -370px -270px;
    }
    nav.hero__nav--desktop {
        display: none;
    }

    .section {
        &__illustration {
            width: 325px;
            height: 325px;
            background: url('/assets/img/illustration-editor-mobile.svg') no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }
    .section.section-top {
        background: url('');
    }
    .section.section-dark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    background-size: 582px 584px;
    background-position: top -290px right -110px;

        .section__image-overlap {
            grid-column: 1/-1;
            margin-top: -10.2em;
        }
        .section__wrapper{
            grid-column: 1/-1;
            padding-bottom: 6.8125em;
        }
        .section__heading {
            grid-column: 1/-1;
            font-size: 2.5rem;
            line-height: 3.8125rem;
            font-weight: var(--fw-600);
            letter-spacing: -1.2px;
        }
        .section__content{
            grid-column: 1/-1;
        }
    }

    .section.section-bottom {
        background: url('/assets/img/illustration-laptop-mobile.svg') no-repeat top center;

        .section__wrapper {
            padding-top: 26em;
            margin-bottom: 7.25em;
        }
    }
}

/* larger screens - no smaller than 700px */
@media( min-width: 43.75em ) {

    .hero{
        background-image: url('/assets/img/bg-pattern-intro-desktop.svg'), linear-gradient(360deg, #FF8F71 0%, #FF3E55 100%);
        background-size: 934px 937px;
        background-repeat: no-repeat, no-repeat;
        background-position: -330px -1300px;;
        background-size: 3175px 3174px;
    }
    .hero__mobileicons--container {
        display: none; // hide mobile menu icons
    }
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* switch image to right side */
        &__wrapper:nth-of-type(1){
            order: 2;
        }

        &__wrapper:nth-of-type(2){
            padding-left: 1.5em;
        }

        &__subheading{
            font-size: 1.75rem;
            text-align: center;
            margin-bottom: 1em;
        }

        &__content {
            font-size: 1rem;
            line-height: 1.75rem;
            text-align: center;
            margin-bottom: 2.25em;
        }

        &__content.section__content--overlapped{
            margin-bottom: 18.25em;
        }

    }
    .section.section-top {
        background: url('/assets/img/illustration-editor-desktop.svg') no-repeat;
        background-position: 800px 0;

            .section__heading{
                grid-column: 1/-1;
                font-size: 1.75rem;
                text-align: center;
                margin-bottom: 5.8125em;
            }
    }

    .section.section-dark {
        padding-bottom: 0;
        background-position: -15em -32em;
        img.section__image-overlap {
            margin-top: -4em;
            margin-bottom: -6em;
        }
        .section__wrapper {
            padding-bottom: 0;
            padding-top: 6.9375em;

            h2.section__heading {
                font-size: 2.5rem;
                line-height: 3.83rem;
                font-weight: var(--fw-600);
                padding: 0;
            }
        }
    }

    .section.section-bottom {
        background: url('/assets/img/illustration-laptop-desktop.svg') no-repeat;
        background-position: -17em 0.4em;
        padding-top: 16.375em;
        padding-bottom: 11em;
        margin-top: 9em;
        margin-bottom: 10.25em;

        .section__wrapper {
            grid-column: 2/3;
        }
    }

    footer.footer {
        display: grid;
        grid-template-columns: 1fr 2fr;

        ul.footer__menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .attribution {
            grid-column: 1/-1;
            padding-top: 4.375em;
        }
    }
}